body {
  background: url("/assets/images/background_CV.jpg") no-repeat center center
    fixed;

  background-size: cover;

  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 0.9em;
}
button {
  justify-self: center;
}

section {
  display: flex;
  flex-direction: column;
}
.display {
  display: none;
}
figure {
  /* border: solid purple 3px; */
  margin: 0;
  padding: 10px;
}
h1 {
  align-self: center;
  justify-self: center;
}
h2 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  text-decoration: underline;
  align-self: center;
}
h3 {
  font-size: 0.9em;
}

header figure img {
  object-fit: cover;
  height: 150px;
  border-radius: 50%;
  /* border: solid red 3px; */
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  border: solid green 3px;
  padding-top: 10px;
  height: 20%;
}

.titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(240, 248, 255, 1);
  border: solid black 1px;
  box-shadow: 0 0 10px black;
  padding: 5px;
}

main {
  border: solid 2px orange;
  display: flex;
  flex-direction: column;
}

aside {
  border: solid blue 2px;
}

footer {
  border: solid black 2px;
  background-color: #f4f0e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  border: solid green 2px;
  display: flex;
  flex-direction: column;
}
.contact > p {
  margin: 10px;
}

/* ___________________________________________________________________________TABLETTE___________________________________________________________________ */

@media (min-width: 768) {
}

/* ___________________________________________________________________________ORDINATEUR___________________________________________________________________ */

@media (min-width: 992) {
}
